{% load bootstrap3 %}

<div class="modal fade" role="dialog" id={% block modal_id %}{% endblock %}>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% block modal_name %}{% endblock %}</h4>
            </div>

            <div class="modal-body">
                <form class="form"  method="post" action={% block modal_action %}{% endblock %}>
                    {% csrf_token %}

                    {% bootstrap_form form %}

                    {% buttons %}
                        <div class="text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>