{% extends 'base.html' %}

{% block left_menu %}
    <ul class="nav nav-pills nav-stacked well bg-success">
        <li class="active"><a href="">Overview history tasks</a></li>
        <li><a href="" data-toggle="modal" data-target="#removeModal">Remove files</a></li>
        <li><a href="" data-toggle="modal" data-target="#recoverModal">Recover files</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'js/dynamic_modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cookie_token.js' %}"></script>

    <table class="table table-striped">
        <tr>
            <th>Basket name</th>
            <th>Basket file</th>
            <th>Task</th>
            <th>Task status</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td class="col-xs-3">
                    <a href="{% url 'trash_content' trash_name=task.trash.name%}">{{ task.trash.name }}</a>
                </td>

                <td class="col-xs-3">{{ task.filename }}</td>
                <td class="col-xs-3">{{ task.get_operation_display }}</td>
                <td class="col-xs-3">{{ task.get_status_display }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'remove_modal.html' %}
    {% include 'recover_modal.html' %}
{% endblock %}
