{% extends 'base.html' %}


{% block left_menu %}
    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'js/ajax_tasks.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cookie_token.js' %}"></script>

    <ul class="nav nav-pills nav-stacked well bg-success">
        <li class="active"><a href="">Overview trash files</a></li>
        <li><a href="" id="removed">Remove files</a></li>
        <li><a href="" id="recovered">Recover files</a></li>
    </ul>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Choose</th>
            <th>Filename</th>
            <th>File size</th>
            <th>File modify date</th>
        </tr>
        {% for file in content %}
            <tr>
                <td class="col-md-1"><input type="checkbox" class="file" name="{{ file.name }}"></td>
                <td class="col-md-4">{{ file.name }}</td>
                <td class="col-md-3">{{ file.size | filesizeformat}}</td>
                <td class="col-md-3">{{ file.modify | date}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
