{% extends 'base.html' %}

{% block left_menu %}
    <ul class="nav nav-pills nav-stacked well bg-success">
        <li class="active"><a href="{% url 'trash_list' %}">Overview trashes</a></li>
        <li><a href="" data-toggle="modal" data-target="#createModal">Create trash</a></li>
    </ul>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Trash name</th>
            <th>Trash time of create</th>
            <th>Trash free size</th>
        </tr>
        {% for trash in trashes %}
            <tr>
                <td class="col-md-4">
                    <a href="{% url 'trash_content' trash_name=trash.name %}">{{ trash.name }}</a>
                </td>
                <td class="col-md-4">{{ trash.time_creation | date}}</td>
                <td class="col-md-4">{{ trash.instance.available_size_space | filesizeformat }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'create_modal.html' %}
{% endblock %}
