<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PyDrive</title>
    </head>
    <body>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=3 %}

        {% include 'menu.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% block left_menu %}
                    {% endblock %}
                </div>

                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
